body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: olive;  /* we gave h1 a color to see if we can view the color attribute via writing 
                        h1.style.color in app.js --> output in browser console will be "" empty string (nothing). 
                        Because we cannot view it by h1.style.color. But the things I write in 'style' attribute 
                        inside the h1 tag in HTML file can be seen via h1.style.color [but using style tags of 
                        HTML is not a good idea generally; using CSS is the proper way. */
}

#banner {
    width: 100%;
}
img.square {
    width: 400px;
    object-fit: cover;
    height:400px;
}

#toc {
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    display: table;
    padding: 1em;
}

#toc a {
    text-decoration: none;
}

.tocnumber {
    color: black;
}