<footer class="footer bg-dark py-3 mt-auto"> <!-- py-3: padding y axis 3. ||| mt-auto: margin top auto (this makes the footer take position on the bottom [also owing to body's class of 'vh-100 d-flex flex-column']).  -->
    <div class="container">
        <span class="text-light">&copy; YelpCamp 2023</span>
    </div>
</footer>